
/** HOME PAGE LAYOUT **/
#home-page {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer' ;
}
#home-page > header {
    grid-area: header;
}

#home-page > main {
    grid-area: main;
}

#home-page > footer {
    grid-area: footer;
}


.featured {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 60px;
    margin-bottom: 50px;
    gap: 1rem;

}

#ft-title {
    grid-column: 1/-1;
}


/** END OF HOME PAGE LAYOUT **/


