* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x:hidden;
}



/** HEADER **/
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    background : #c6b3ab;
    margin-top: 25px;
    height: 100px;
}

li, a {
    text-decoration: none;
    color: #000
}

.logo {
    position: relative;
    top:-30px;
    width: 160px;
    object-fit: fill;
    display:block;
    margin: 0 auto;
     
}

.nav-links {
    width: 100%;
    text-align:center;
    position: relative;
    top:-60px;
    display:none;
    list-style: none;
    z-index: 10;
  
    
    
}
.active, .nav-links li:hover {
   font-weight: bolder;
}

.nav-links li {
    display: block;
    padding: 20px 10px;
    background-color: #c6b3ab;
    border-top: 1px solid #917863;

}

.nav-links li a {
    display: block;
}

.menu {
    display: block;
    position: absolute;
    right:20px;
    top: 60px;
}
.menu-line {
    width: 20px;
    height: 3px;
    background-color: black;
    margin-bottom: 4px;
}

.activate {
    display:block;
}


/**  END OF HEADER **/

/** HOME **/
.hero-image {
    margin-top: 8px;
    height: 400px;
    

     
}
#hero{
    max-height: 100%;
    width:100%;
    object-fit:cover;
}

#compass {
    width: 80px;
    margin-top: 20px;
}

#quote {
    font-size: 20pt ;
    font-style: italic;
    margin: 12px;
    text-align: center;      
}


#ft-title hr {
    height: 2px;
    border-width: 0;
    background-color: black;
}

.label {position: relative;}

.label h6 {
    background-color: rgba(255,255,255, 0.7);
    margin:0;
    width: 100%;
   padding: .3rem 1rem;
   font-size: 1.5rem;
   font-weight:300;

   position: absolute;
   bottom:4px;
}
    
.card>a>img {
   width: 100%;
    
}


/** FOOTER **/
footer {
    margin-top: auto;
    width:auto;
}

.footer-content {
    padding: 1rem;
    background-color: #c6b3ab;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    padding-bottom: 5px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}
.socials li {
    margin: 0 10px;
    font-size: 30px;
}

.footer-bottom {
    background: #74331f;
    padding: 20px 0;
    text-align: center;
    
    

}
.footer-bottom p{
    font: 14px;
    font-weight: bold;
}

/** END OF FOOTER **/


/** ABOUT PAGE **/

#side-panel {
    height: 700px;
    width: 40%;
    max-width: 350px;
    margin-left: 10px;
    margin-top: 45px;
    background-color: #917863;
    

    
  
    
}

#about-panel {
   background-color: #f8f6f3;
    border: 10px solid #74331F;
    padding: 20px;
    margin-left: 120px;
    margin-right: 30px;
    justify-self: center;
    margin-bottom: -150px;
    
      
    position: relative;
    top: -600px; bottom:0;
    z-index: 5;
    max-width: 900px; 
}

 #about h1 {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 3px solid #bfac9d;
}

 #statement{
    font-size: 18px;
}
#phrase{
    padding-top: 50px;
    text-align: center;
    font-style: italic;
    font-size: 25px;
}  



/** END OF ABOUT PAGE **/


/** ALL COUNTRIES PAGE **/
#Allcountries-header{
    margin-left: 30px;
    margin-top: 30px;
}

 #country-list {
        margin-top: 30px;
        margin-left: 50px;
}



#country-list div h3 {
    font-size: 20px;
    
}


#country-list hr {
    width: 50%;
    margin-bottom: 2px;
    border-width:0 ;
    height: 2px;
    background-color: #000;

    
  
}

#country-list div {
    margin-bottom: 60px;
    
} 

#country-list li {
    margin-left: 30px;
    font-size: 14pt;
}
#country-list a:hover {
    color: #74331F;
    text-decoration: underline;
}

/** END OF ALL COUNTRIES PAGE **/


/** CONTACT PAGE **/
    #contactForm{
        width:100%;
        height:100%;
      
        
    }
    

    form{
        max-width: 550px;
        width:90%;
        background-color: #917863;
        margin: 45px auto 45px auto;

        padding:40px;
        border-radius: 3px;
        box-sizing: border-box;
    }

    form h1 {
    
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 4px solid #bfac9d;
       
        
    }
    
    #contactForm p {
        margin-top: 30px;
        text-align:center;
        font-weight: bold;
    }
    

    label{
        display:block;
        margin: 20px 0;
    }

    input, textarea {
        width: 100%;
        padding:10px;
        outline:none;
        resize: none;
    }
    input[type="text"]:focus, textarea:focus {
        border-bottom: 3px solid #74331f;
    }
   
    .center {
        text-align: center;
    }

    input[type="submit"] {
        margin-top: 30px;
        width: 90%;
        max-width: 200px;
        background: #bfac9d;
        font-size: 17px;
        cursor:pointer;
        border-radius: 3px;
    }

    .error{
      color: red;  
    }

    .error-border{
        border-bottom: 1px solid red;
    }

    #success{
        color:limegreen;
    }



/** END OF CONTACT PAGE **/



        /************** MEDIA QUERY **************/

/**Medium**/

@media all and (min-width: 600px) {

    /** HEADER **/
    nav{
      flex-direction: row;
       
    }
  .menu {
    display: none;

    }
    .logo {
        position: unset;
        top:unset;
    }

    .nav-links li {
        display: inline-block;
        padding: 0px 20px;
        border-top: none;
        
    
    }
    .nav-links li a {
        display: inline;
    }

    .nav-links {
        width: unset;
        text-align:unset;
        position: unset;
        top:unset;
        display:block;
    }

      /** END OF HEADER **/


    

    #quote {
        margin: 55px;
    }
    


}

 
     
